@font-face {
    font-family: Kis Classico SC;
    src: url(../fonts/KisClassicoSC.ttf);
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif'), local('PTSerif-Regular'), url(../fonts/ptserif.woff2) format('woff2'), url(../fonts/ptserif.woff) format('woff'), url(../fonts/ptserif.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url(../fonts/ptserifitalic.woff2) format('woff2'), url(../fonts/ptserifitalic.woff) format('woff'), url(../fonts/ptserifitalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(../fonts/ptserifbold.woff2) format('woff2'), url(../fonts/ptserifbold.woff) format('woff'), url(../fonts/ptserifbold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(../fonts/ptserifbolditalic.woff2) format('woff2'), url(../fonts/ptserifbolditalic.woff) format('woff'), url(../fonts/ptserifbolditalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}


html, body, h1, header, footer, section, article, p {
    background: #fff;
    margin: 0;
    padding: 0;
    color: #000;
}

@media (max-width: 1000px) {
    body {
        padding: 0 20px !important;
    }
}

body {
    padding-left: 80px;
}

header.site-header {
    margin: 20px 0 50px;
}

header.site-header menu.site-menu {
    display: block;
    margin: 0;
    padding: 0;
}

header.site-header menu.site-menu > li {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 0;
    position: relative;
}

header.site-header menu.site-menu > li:first-child {
    margin: 5px 10px 5px 0;
}

header.site-header menu.site-menu > li ul {
    display: none;
}

header.site-header menu.site-menu > li a {
    font-family: Kis Classico SC, serif;
    font-size: 14pt;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

header.site-header menu.site-menu > li a:hover,
header.site-header menu.site-menu > li a:active {
    color: #0080FF;
}

header.site-header menu.site-menu > li:active ul,
header.site-header menu.site-menu > li:focus ul,
header.site-header menu.site-menu > li:hover ul {
    display: block;
    position: absolute;
    top: 5px;
    margin: 20px 5px;
    padding: 5px;
}

header.site-header menu.site-menu > li:hover ul li {
    list-style-type: none;
}

header.site-header menu.site-menu > li:hover ul li:before {
    content: "\0025BB";
    margin-right: 5px;
}

h1.brand {
    font-size: 48pt;
    font-family: Kis Classico SC, serif;
}

section.site-content > header {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

section.site-content > header > h1 {
    font-size: 36pt;
    font-family: Kis Classico SC, serif;
    word-break: break-word;
}

.wrapper {
    max-width: 1000px;
}

.blog-post header {
    margin-top: 75px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
}

.blog-post header section.details ul.tags {
    background-color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-post header section.details ul.tags li {
    display: inline-block;
    margin: 0 5px;
}

.blog-post header section.details {
    display: block;
    margin-top: 5px;
}

.blog-post header section.details::after {
    clear: both;
    display: block;
    content: "";
}

.img-tags {
    display: inline-block;
    content: " ";
    width: 24px;
    height: 30px;
    background: url(../images/tags.svg) no-repeat;
    background-size: 24px 24px;
    vertical-align: middle;
}

.blog-post header h1 {
    font-size: 32pt;
    font-family: Kis Classico SC, serif;
    word-break: break-word;
}

h1 a {
    color: #000;
    text-decoration: none;
}


h1 a:hover,
h1 a:active {
    color: #0080FF;
}

.blog-post header time {
    float: right;
    text-align: right;
    font-family: Kis Classico SC, serif;
    font-size: 12pt;
}

.blog-post img:not(.share-btn) {
    max-width: 100%;
}

.blog-post section.text {
    margin: 15px 0 15px;
    line-height: 1.25;
    font-size: 12pt;
    font-family: PT Serif, serif;
    word-break: break-word;
}

.blog-post .text a {
    color: #013ADF;
    text-decoration: underline;
}

.blog-post .text a:hover, .blog-post .text a:active {
    color: #0080FF;
}

.blog-post .text p {
    margin: .5em 0;
}

.blog-post footer {
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #f0f0f0;
    padding-top: 5px;
}

.share-btn {
    width: 36px;
    height: 36px;
    display: inline-block;
}

.share-btn img {
    max-width: 36px !important;
}

ul.pagination {
    border-top: 1px solid #f0f0f0;
    background-color: white;
    display: block;
    margin: 25px 0 0;
    padding: 25px 0 0;
    list-style-type: none;
    font-size: 14pt;
    font-family: Kis Classico SC, serif;
}

ul.pagination li {
    display: inline-block;
    margin: 0;
    width: calc(100% / 3);
    text-align: center;
}

ul.pagination li:first-child {
    text-align: left;
    color: #ccc;
}

ul.pagination li:last-child {
    text-align: right;
    color: #ccc;
}

ul.pagination a {
    color: #013ADF;
    text-decoration: none;
}

ul.pagination a:hover, ul.pagination a:active {
    color: #0080FF;
}

footer.site-footer {
    margin: 25px 0 10px;
    text-align: right;
    font-family: Kis Classico SC, serif;
    font-size: 14pt;
}

[class^="note-float-"] {
    margin: 5px;
}